{% include "layout/auth.base.html" %} {% block main %} {% endblock %}
<main class="flex flex-col justify-center items-center h-96">
  <section>
    <h1 class="text-4xl text-center max-w-4xl text-neutral-900 font-semibold">
      Metode Random Forest untuk Klasifikasi Kerusakan Transformator Daya
      berdasarkan Gas Terlarut pada Duval Triangle dan Duval Pentagon
    </h1>
  </section>
</main>
{% block footer %}
<footer class="flex flex-col justify-center items-center">
  <p
    class="w-full text-md text-center max-w-5xl text-neutral-700 font-medium mt-8"
  >
    Copyright © 2022 Hunayn Risatayn
  </p>
</footer>
{% endblock %}
